#container{
    position: relative;
    text-align: center;
    /* font-family: monospace */
}

#containerImg{
    width: auto;
    height: 100vh;
}

#myImage{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    z-index: 1;
    background-image: url('../assets/images/me.jpg');
    filter: drop-shadow(0 0 5px violet);
    scrollbar-width: none;
    background-repeat: no-repeat;
    background-size: cover;
}

#containerTextName{

    color: whitesmoke;
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 30%;
    left: 50%;
    width: max-content;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 20px;
    
}
